<<<<<<< HEAD
﻿@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore;
@{
    var ten = Context.Session.GetString("Username");
}
<!DOCTYPE html>
=======
﻿<!DOCTYPE html>
>>>>>>> f87de6b070b981742c3402a2b4c6ea9765cc3ee7
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - library</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/library.styles.css" asp-append-version="true" />
<<<<<<< HEAD
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">

=======
>>>>>>> f87de6b070b981742c3402a2b4c6ea9765cc3ee7
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">library</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
<<<<<<< HEAD
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Admin">Users</a>
=======
                            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
>>>>>>> f87de6b070b981742c3402a2b4c6ea9765cc3ee7
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Book</a>
                        </li>
<<<<<<< HEAD
                    </ul>
                    
                    <form class="d-flex">
                        <div class="dropdown">
                            @ten
                        </div>
                        <a class="btn btn-outline-danger" href="@Url.Action("Logout", "Users")" type="submit">Logout</a>
                    </form>
=======
                        
                    </ul>
>>>>>>> f87de6b070b981742c3402a2b4c6ea9765cc3ee7
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - library - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
<<<<<<< HEAD

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
=======
>>>>>>> f87de6b070b981742c3402a2b4c6ea9765cc3ee7
</body>
</html>
